!!!
html(lang = "en")
  head
    title some title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='/stylesheets/debug.css')
    block scripts
      script(src='/javascripts/jquery.js')
      script(src='/javascripts/utilities.js')
      
  body
    div#bodyContent
      div#header
        div#headerContainer.container
          h3 14cube
      div#contentBox
        div#content.container.showgrid2
          block content
      block footer
        div#footer
          div#footerContainer.container
            div#footerLinks.row.right
              h3 &nbsp;
              block footerLinks
                a(href="/", title="Home").span1 Home
            

