!!!
extends layout
block append scripts
	script.
		function refreshTicket(){
			$.get("/rnd", {bytes: 0}, function(data){
				$("input[name=_csrf]").attr("value", data.token);
				$("input[type=submit]").removeAttr("disabled");
				$("form").submit();
			});
		}
		$(document).ready(function(){
			$("input[type=submit]").click(function(e){
				$(this).attr("disabled", "disabled");
				refreshTicket();
				return false;
			});	
		});

block content
	div#signIn.span6
		h1 Sign in
		form(method="POST", action="/login")#loginForm.well.form-inline
			div.userinput
				input(type="text", name="username", placeholder="Username").input-large
			div.userinput
				input(type="password", name="password", placeholder="Password").input-large
			input(type="hidden", name="_csrf")
			input(type="submit", value="Sign in").btn
	div#signUp.span6
		h1 Sign up
		form(method="POST", action="/login")#loginForm.well.form-inline
			div.userinput
				input(type="text", name="username", placeholder="Username").input-large
			div.userinput
				input(type="password", name="password", placeholder="Password").input-large
			div.userinput
				input(type="password", name="password", placeholder="Repeat password").input-large
			input(type="hidden", name="_csrf")
			input(type="submit", value="Sign in").btn

		