!!!
extends layout
block append scripts
	script(src='/javascripts/main.js')
	script.
		var listKey = "#{args.listKey};"
		var salt = "#{args.salt};"

block append footerLinks
	a(href="").logOut.span1 Log out

block content
	div#controls
	div#entryList.row
	div#templates
		div.passwordBox.span6.offset3
			form.storagePasswordForm.well.form-inline
				input(type="password", placeholder="Storage password").storagePassword
				input(type="submit", value="Enter").storagePasswordOk.btn
		div.entry2.span4
			div.entry2header.span4
				h5.span3.entryUrl
				a(href="", title="Open the site", target="_blank").entry2Go.buttonSymbol ↗
				a(href="", title="Delete this record").entry2Delete.buttonSymbol ✕
			div.entry2body.span4
				div.entry2body2.span4
					input.entryLogin.span-3
					input.entryPassword.span-5
			div.entry2confirmation.span4
					span.confirmationText.span-7
					a(href="").span-1.entry2confirmationOk yes
					a(href="").span-1.right.entry2confirmationCancel no
		div.entry2Container.span4
		div.entry2FullContainer.span12

		div.search.span12
			form.well.searchForm
				label Quick search
				input(type="text", value="Start typing to begin the search").span5.searchText
			
		div.newRecord.span10.offset1
				form.newRecordBody.well.form-inline
					div.control-group
						input(placeholder="Url").url.span3
					div.control-group
						input(placeholder="Login").login.span2
					div.control-group
						div
							input(placeholder="Password").password.span3
						div
							select(style="width: 110px").maximumLen.span2
								option(value="10") 10 symbols
								option(value="14") 14 symbols
								option(value="16") 16 symbols
								option(value="20", selected="selected") 20 symbols
								option(value="25") 25 symbols
								option(value="30") 30 symbols
								option(value="50") 50 symbols
							a(href="", style="margin-right: 0.2em").generate.buttonSymbol.right ⟳
							span(style="margin-right: 15px").right
								span &nbsp;$#%^	
								input(type="checkbox", checked="true").useSpecials
					div.control-group
						div
							input(type="submit", value="Add  ").add.btn.span1
						div
							span.userError


				
