html, body {
    height: 100%;
    margin: 0px;
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#bodyContent{
    height: auto;
    position: relative;
    min-height:100%;
}
/*a {
  color: #00B7FF;
  text-decoration: none;
}*/
#templates{
    display: none;
}

/*select{
    margin-top: 0px;
}*/

.buttonSymbol{
    font-size: 1.2em;
} 
.entryUrl{
    cursor: pointer;
}
.entry2body{
    display: none;
}
.entry2confirmation{
    display: none;
}
.userError{
    color: red;
}
.center{
    text-align: center;
}

#content{
    margin-top: 5em;
    margin-bottom: 1em;
}
#contentBox{
    padding: 1em 1em 5em;
}

.newRecordBody .control-group{
    display: inline-block; 
    vertical-align: top;
}
#header, #footer{
    float:left;
    padding:15px 0;
    min-width:100%;
    background: none repeat scroll 0% 0% rgb(102, 102, 102);
    margin-top: 0em;
}
#footerLinks > h3{
    display: inline;
}
#footer{
    position: absolute;
    bottom: 0px;
}
.box {
    background: rgb(230, 230, 230);
}

.first{
    margin-left: 0px;
}
.last{
    margin-right: 0px;
}
.right{
    float: right;
}